*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
# KorGE 6 / Kotlin build artifacts
/.kotlin
/.korge
/deps
/modules
/bundles
*.hprof
*.log
korge.keystore
